$font-basic: "Open-Sans", sans-serif;
$font-vary: "Cardo", serif;

$blackColor: #333;
$greyColor: rgb(160, 160, 160);
$lightgreyColor: rgb(194, 194, 194);
$whiteColor: rgb(253, 253, 253);
$backColor: rgb(244, 244, 244);
$dangerColor: #dc3545;
$sucessColor: #28a745;

$toNavBar: 50px;

$navBarHeight: 70px;

$Z-Index-Modal: 930;
$Z-Index-Backdrop: 920;
$Z-Index-NavBar: 900;
$Z-Index-NavBarSec: 890;
